echo "DELETE FROM mysql.user WHERE User='';" | mysql
echo "CREATE USER '{{ user_mysql }}'@'localhost' IDENTIFIED BY '{{ mysql_root_pass }}';" | mysql
echo "GRANT ALL PRIVILEGES ON * . * TO `{{ user_mysql }}`@`localhost`;" | mysql
echo "FLUSH PRIVILEGES;" | mysql
